<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="i360.Web.Api.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <i360.Web.Api.Tests.Properties.Settings>
            <setting name="UserId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="TestUrl" serializeAs="String">
                <value>https://test-api.i-360.com/1.0/</value>
            </setting>
        </i360.Web.Api.Tests.Properties.Settings>
    </applicationSettings>
</configuration>