<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebApi.Tests.Properties.TestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebApi.Tests.Properties.TestSettings>
            <setting name="TestUrl" serializeAs="String">
                <value>https://api-platform.i-360.com/2.0/</value>
            </setting>
            <setting name="ApiTesterUserName" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="ApiTesterPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="LoginUrl" serializeAs="String">
                <value>https://login.i-360.com/core/connect/token</value>
            </setting>
            <setting name="OrgId" serializeAs="String">
                <value>1234</value>
            </setting>
        </WebApi.Tests.Properties.TestSettings>
    </applicationSettings>
</configuration>